/* reset do CSS do user agent (padrao de cada dispositivo) */
* {
  margin: 0;
  padding: 0;
}

/* root element */
:root {
  font-size: 62.5%; /* 10px */
}

body {
  height: 100vh; /* esticar body ocupando a altura de toda a tela */
  color: white;
}

body,
input,
button,
textarea {
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* font: 400 1.8rem/1 "Nunito", sans-serif; */
}

#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  min-height: 100vh;
  text-align: center;

  display: flex;
  /* align-items: center; */
}

#container {
  margin: auto;
  width: 90%;
}

.location, h1, .visit p {
  height: 16vh;
}

.visit a {
  width: 8rem;
  height: 8rem;
  background: #fff666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}